@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Poppins:ital,wght@0,400;0,500;1,200&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Castoro Titling', cursive;
}

.App{
    text-align: center;
}